body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-white: #F2F2F2;;
  --organizer-green1: #206F6D;
  --organizer-green2: rgba(32, 111, 109, 0.70);
  --participant-red1: rgba(126, 25, 25, 0.90);
  --participant-red2: rgba(126, 25, 25, 0.60);
  --color-black1: #303030;
  --color-black2: rgba(48, 48, 48, 0.60);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
